
*.aux
*.aux
*.out
MDPI_template/template.aux
MDPI_template/template.log
MDPI_template/template.synctex.gz
MDPI_template/template.pdf
MDPI_template/template.blg
Temp/FNN_Learning_Speed.xlsx
Temp/main_approach.psd
MDPI_template/template.pdf
MDPI_template/template.pdf
MDPI_template/template.pdf
MDPI_template/template.pdf
